body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#raffle {
    background-image: url('./images/raffle_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.name {
    width: 100%;
}
